.mode {
  /* Container styling */
  width: 400px;
  height: 180px; /* Adjust height if needed to accommodate buttons */
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute items vertically */
  color: black;
}

/* Logo styling */
.logo {
  width: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  margin-top: 0.5rem;
}

/* Button container styling */
.difficulty {
  display: flex;
  margin-top: 1rem; /* Add margin above buttons for spacing */
}

/* Individual button styling */
.difficulty div {
  flex: 1; /* Distribute available space equally among buttons */
  width: 100px; /* Set a specific width for each button */
  background: #f21873; /* Set the background color to pink */
  border: #f21873;
  color: #fff; /* Set text color to white for better contrast */
  text-align: center; /* Center text within the button */
  margin-right: 10px; /* Add margin to the right of each button for spacing */
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 8px;
}
